client
dev tun                                               # Use a TUN (OSI layer 3) virtual network device for the VPN
proto tcp                                             # Use a TCP connection to the OpenVPN server (through the proxy)
remote {{ server_name }} 1194                         # Address of a server hosting an OpenVPN server
ca ca.crt
cert {{client_name}}.crt
key {{client_name}}.key
;redirect-gateway def1                                # Redirect other traffic through the VPN
socks-proxy-retry
socks-proxy 127.0.0.1 {{socks_port}}                        # Use a local SOCKS proxy on TCP port {{port}}
resolv-retry infinite                                 # If hostname resolve fails for remote, retry resolve indefinitely
nobind                                                # Do not bind to local address and port. The IP stack will allocate a dynamic port for returning packets.
user nobody
group nogroup
persist-key
persist-tun                                           # Avoid TUN/TAP re-initialization upon reconnects
remote-cert-tls server                                # Identifies the server's certificate
mlock                                                 # Disable paging by calling the mlockall function. Ensures that key material and tunnel data are never written to disk due to virtual memory paging operations
tls-auth ta.key 1
cipher AES-128-CBC
auth SHA256
verb 3